@model IEnumerable<AlphaMobileShop.Models.Product>

@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
{
    <input type="button" value="Create New" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Products")'" />
}


<div class="products-panel">
    <div class="row gap-4 m-2 justify-content-center text-center">
        @foreach (var item in Model.OrderBy(id => Guid.NewGuid()))
        {
            <div class="col-lg-2 col-md-3 col-sm-5 d-flex flex-column justify-content-between shadow bg-white p-3">
                <div class="column-img">
                    <a href="Products/Details/@item.Id">
                        <img src="@item.Name" style="width: 125px; height: 125px" />
                    </a>
                </div>
                <div class="column-name fw-bold" style="font-size: 15px;">@item.Model</div>
                <div class="column-price fw-bold" style="font-size: 15px;">@item.Price $</div>
                @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                {
                    <div class="column-btn">
                        <input type="button" value="Edit" class="btn btn-warning btn-sm mt-auto" onclick="location.href='@Url.Action("Edit", "Products", new { id = item.Id })'" />
                        @if (User.IsInRole("Administrator"))
                        {
                            <button data-product-id="@item.Id" class="btn btn-danger btn-sm mt-auto js-delete">Delete</button>
                        }
                    </div>
                }
                </div>
        }
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $(".products-panel .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Do you want to delete this product", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/ProductsApi/" + button.attr("data-product-id"),
                            method: "DELETE",
                            success: function () {
                                $(button).parent().parent().remove();
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        });
                    }
                });
            });
        });
    </script>

}